body {
  background: #afbbf2;
  background-image: linear-gradient(0deg, #d3fff3 0%, #7e0799a1 100%),
  url(./media/patron1.webp);
  align-items: center;
}

h1{
  margin: 0;
}

/* â„* Estilos del modal */ 
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.371);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, hsl(284, 22%, 52%));
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #7e0799a1;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


/* Estilos del header */
.navbar {
  background-color: #afbbf2;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 2vh;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.navbar-links {
  display: flex;
  width: 33%;
  font-style: oblique;
}
.navbar li {
  width: 33%;
  list-style-type: none;
}
.navbar-links :hover {
  color: bisque;
  transform: scale3d(1.5, 1.5, 1.5);
  text-shadow: #525555 10px 10px 3px;
}

/* Estilos del Main */
main {
  margin: 10% 5%;
}

.titulo {
  text-align: center;
  text-shadow: #525555 10px 10px 3px;
  font-size: 400%;
  font-family: fantasy;
}

#lista-artistas {
  font-family: "Times New Roman", Times, serif;
}

.h2-artistas {
  text-align: center;
}

.p-artistas {
  font-family: "Gill Sans";
  text-align: right;
}
/* Estilos de Artistas y fotos */
.artistas {
  display: flex;

  box-shadow: 9px 10px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  gap: 20px;
  border-radius: 2.5vh;
}
#artista1,
#artista3 {
  display: flex;
  height: fit-content;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2.5vh;
  overflow: hidden;
  border: 4px inset #fc1dfc;
}
#artista2 {
  display: flex;
  height: fit-content;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2.5vh;
  overflow: hidden;
  border: 4px inset #fc1dfc;
}
.artista-img {
  margin: 10px 0px;
  border: 2px solid purple;
  border-radius: 1.5vh;
}

.artista1-texto,
.artista2-texto {
  padding: 1%;
  width: 50%;
  justify-content: center;
  align-items: center;
  line-height: 3vh;
  text-align: justify;
}
button {
  padding: 20px;
  color: aliceblue;
  background-color: #7f0799;
  border-radius: 1.5vh;
}
.contratacion a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Estilos de agenda */

#agenda {
  display: flex;
  margin-top: 20%;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  border: 2px inset #fc1dfc;
  overflow: hidden;
}

.agenda-table {
  border: 5px solid black;
  border-radius: 15px;
  width: 90%;
  border-collapse: collapse;
  margin: 2rem 2rem;
  font-size: 1rem;
  text-align: left;
  background-color: #ead673;
  overflow: hidden;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
}

.agenda-header {
  background-color: #2a7a71;
  color: white;
  border-radius: 25px;
  overflow: hidden;
}

.agenda-table tbody tr:nth-child(even) {
  background-color: #98edcf;
}

.agenda-table tbody tr:hover {
  background-color: #f1f1f1;
}

.agenda-table th {
  font-weight: 600;
  text-transform: uppercase;
}
/* Estilos del footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

html{
  scroll-behavior: smooth;
}
