body {
  background: #afbbf2;
  background: linear-gradient(0deg, #d3fff3 0%, #7f0799 100%);
  align-items: center;
}

/* Estilos del header */
.navbar {
  background-color: #afbbf2;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 2vh;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.navbar-links {
  display: flex;
  width: 33%;
  font-style: oblique;
}
.navbar li {
  width: 33%;
  list-style-type: none;
}
.navbar-links :hover {
  color: bisque;
  transform: scale3d(1.5, 1.5, 1.5);
  text-shadow: #525555 10px 10px 3px;
}

/* Estilos del Main */
main {
  margin: 10% 5%;
}

.titulo {
  text-align: center;
  text-shadow: #525555 10px 10px 3px;
  font-size: 400%;
  font-family: fantasy;
}

#lista-artistas {
  font-family: "Times New Roman", Times, serif;
}

.h2-artistas {
}

.p-artistas {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Estilos de Artistas y fotos */

#artista1 {
  margin-top: 20%;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  border: 4px inset #fc1dfc;
}
#artista2 {
  height: fit-content;
  margin-top: 2%;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: top;
  border-radius: 25px;
  overflow: hidden;
  border: 4px inset #fc1dfc;
}
.artista1-imagen {
  width: 50%;
}

.artista2-imagen {
  width: 50%;
}
.artista1-texto,
.artista2-texto {
  padding: 1%;
  width: 50%;
  justify-content: center;
  align-items: center;
  line-height: 3vh;
}

/* Estilos de agenda */

#agenda {
  display: flex;
  margin-top: 20%;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  border: 2px inset #fc1dfc;
  overflow: hidden;
}

.agenda-table {
  border: 5px solid black;
  border-radius: 15px;
  width: 90%;
  border-collapse: collapse;
  margin: 2rem 2rem;
  font-size: 1rem;
  text-align: left;
  background-color: #ead673;
  overflow: hidden;
  box-shadow: 9px 10px 3px 0px rgba(0, 0, 0, 0.1);
}

.agenda-header {
  background-color: #2a7a71;
  color: white;
  border-radius: 25px;
  overflow: hidden;
}

.agenda-table tbody tr:nth-child(even) {
  background-color: #98edcf;
}

.agenda-table tbody tr:hover {
  background-color: #f1f1f1;
}

.agenda-table th {
  font-weight: 600;
  text-transform: uppercase;
}
/* Estilos del footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
